<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset		name="general"
                    label="COM_GEOCONTENT_CONFIG_GENERAL_TAB"
                    description="COM_GEOCONTENT_CONFIG_GENERAL_TAB_DESC"
                    x_image="/images/gc_globalconfig_general.*"
                    >

		<field name="map_latstart" type="text" default="45" label="Map lat center" description="Insert here the latitude for the map at start">
		</field>
		<field name="map_lngstart" type="text" default="10" label="Map lon center" description="Insert here the longiture for the map at start">
		</field>
		<field name="map_zoomstart" type="list" default="13" label="Map zoom level" description="Insert here the initial zoom level for the map at start">
			<option value="0">Zoom level 0</option>
			<option value="1">Zoom level 1</option>
			<option value="2">Zoom level 2</option>
			<option value="3">Zoom level 3</option>
			<option value="4">Zoom level 4</option>
			<option value="5">Zoom level 5</option>
			<option value="6">Zoom level 6</option>
			<option value="7">Zoom level 7</option>
			<option value="8">Zoom level 8</option>
			<option value="0">Zoom level 9</option>
			<option value="10">Zoom level 10</option>
			<option value="11">Zoom level 11</option>
			<option value="12">Zoom level 12</option>
			<option value="13">Zoom level 13</option>
			<option value="14">Zoom level 14</option>
			<option value="15">Zoom level 15</option>
			<option value="16">Zoom level 16</option>
			<option value="17">Zoom level 17</option>
			<option value="18">Zoom level 18</option>
			<option value="19">Zoom level 19</option>
			<option value="20">Zoom level 20</option>
		</field>
        <field name="point_icon_folder" type="text" default="" label="COM_GEOCONTENT_ICON_SUBDIRECTORY" description="COM_GEOCONTENT_ICON_SUBDIRECTORY_DESC">
		</field>
    </fieldset>
    <fieldset
             name="layers"
             label="COM_GEOCONTENT_CONFIG_LAYERS_TAB"
             description="COM_GEOCONTENT_CONFIG_LAYERS_TAB_DESC"
             x_image="/images/gc_globalconfig_baselayers.*"
             >

        <field name="baselayers" type="checkboxes" default="" label="COM_GEOCONTENT_CONFIG_BASE_LAYERS" description="COM_GEOCONTENT_CONFIG_BASE_LAYERS_DESC">
            <option value="osm.mapnik">OpenStreetMap mapnik (OL only)</option>
            <option value="osm.osmarender">OpenStreetMap osmarender (OL only)</option>
            <option value="google.streets">Google streets</option>
            <option value="google.physical">Google physical</option>
            <option value="google.satellite">Google satellite</option>
            <option value="google.hybrid">Google hybrid</option>
            <option value="ve.road">Bing road (OL only)</option>
            <option value="ve.shaded">Bing shaded (OL only)</option>
            <option value="ve.aerial">Bing aerial (OL only)</option>
            <option value="ve.hybrid">Bing hybrid (OL only)</option>
            <option value="cloudmade">Cloudmade (OL only, API key needed)</option>
        </field>
        <field name="default_base_layer" type="list" default="osm.mapnik" label="COM_GEOCONTENT_CONFIG_DEFAULT_BASE_LAYER" description="COM_GEOCONTENT_CONFIG_DEFAULT_BASE_LAYER_DESC">
            <option value="osm.mapnik">OpenStreetMap mapnik (OL only)</option>
            <option value="osm.osmarender">OpenStreetMap osmarender (OL only)</option>
            <option value="google.streets">Google streets</option>
            <option value="google.physical">Google physical</option>
            <option value="google.satellite">Google satellite</option>
            <option value="google.hybrid">Google hybrid</option>
            <option value="cloudmade">Cloudmade (OL only, API key needed)</option>
            <!-- cannot be default because: mapInstance.GetCurrentMode() is null -->
            <!--option value="ve.road">Bing road</option>
            <option value="ve.shaded">Bing shaded</option>
            <option value="ve.aerial">Bing aerial</option>
            <option value="ve.aerial">Bing hybrid</option-->
        </field>


    </fieldset>

    <fieldset
             name="cloudmade"
             label="COM_GEOCONTENT_CONFIG_CLOUDMADE_LABEL"
             description="COM_GEOCONTENT_CONFIG_CLOUDMADE_DESC"
             x_image="/images/gc_globalconfig_cloudmade.*"
             >

        <field
              name="cloudmade_api"
              type="text"
              label="COM_GEOCONTENT_CONFIG_CLOUDMADE_API_LABEL"
              description="COM_GEOCONTENT_CONFIG_CLOUDMADE_API_DESC"
              class="inputbox"
              filter="" />
        <field
              name="cloudmade_id"
              type="text"
              label="COM_GEOCONTENT_CONFIG_CLOUDMADE_ID_LABEL"
              description="COM_GEOCONTENT_CONFIG_CLOUDMADE_ID_DESC"
              default="999"
              class="inputbox"
              filter="" />
    </fieldset>


    <fieldset
             name="olstyle"
             label="COM_GEOCONTENT_CONFIG_OLSTYLE_LABEL"
             description="COM_GEOCONTENT_CONFIG_OLSTYLE_DESC"
             x_image="/images/gc_globalconfig_olstyle.*"
             >

        <field
              name="ol_custom_theme"
              type="list"
              default="img"
              label="COM_GEOCONTENT_CONFIG_OL_CUSTOM_THEME_LABEL"
              description="COM_GEOCONTENT_CONFIG_OL_CUSTOM_THEME_DESC"
              class="inputbox"
             >
            <option value="img">Default (blue)</option>
            <option value="img.dark_grey">Dark Gray</option>
            <option value="img.black_grey">Gray 2</option>
        </field>

        <field name="balloon_onmouseover" label="COM_GEOCONTENT_CONFIG_OL_ONMOUSEOVER_LABEL" description="COM_GEOCONTENT_CONFIG_OL_ONMOUSEOVER_DESC" type="list" default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>



    </fieldset>


    <fieldset
            name="toclayout"
            label="COM_GEOCONTENT_CONFIG_FRONT_END_TAB"
            description="COM_GEOCONTENT_CONFIG_FRONT_END_TAB_DESC"
            x_image="/images/gc_globalconfig_toclayout.*"
            >

        <field name="map_width" default="100" label="COM_GEOCONTENT_MAP_WIDTH" description="COM_GEOCONTENT_MAP_WIDTH_DESC" type="text"/>
        <field name="map_height" default="400" label="COM_GEOCONTENT_MAP_HEIGHT" description="COM_GEOCONTENT_MAP_HEIGHT_DESC" type="text"/>
        <field name="toc_style" label="COM_GEOCONTENT_TOC_STYLE" description="COM_GEOCONTENT_TOC_STYLE_DESC" type="list" default="list">
			<option value="none">JNOne</option>
			<option value="list">List</option>
			<option value="select">Select</option>
		</field>
        <field name="toc_position" label="COM_GEOCONTENT_TOC_POSITION" description="COM_GEOCONTENT_TOC_POSITION_DESC" type="list" default="top">
			<option value="top">Top</option>
			<option value="bottom">Bottom</option>
			<option value="left">Left</option>
			<option value="right">Right</option>
		</field>
        <field name="toc_width" label="COM_GEOCONTENT_TOC_WIDTH" description="COM_GEOCONTENT_TOC_WIDTH_DESC" type="text" default="20" />
        <field name="start_with_layers" label="COM_GEOCONTENT_ACTIVE_LAYERS_AT_START" type="list" default="JNONE" description="COM_GEOCONTENT_ACTIVE_LAYERS_AT_START_DESC">
			<option value="none">none</option>
			<option value="all">All</option>
			<option value="one">Selected</option>
		</field>
        <field name="active_layer" type="sql" query="SELECT id as value, concat('[' , id , '] ', name) AS active_layer FROM #__geocontent_layer" label="COM_GEOCONTENT_SELECTED_ACTIVE_LAYER" description="COM_GEOCONTENT_SELECTED_ACTIVE_LAYER_DESC"></field>

        <field name="layer_filter_list" type="text" label="COM_GEOCONTENT_LAYER_IDS" description="COM_GEOCONTENT_LAYER_IDS_DESC">
		</field>

        <field name="toc_kml" label="COM_GEOCONTENT_KML_ICON_FOR_LAYERS" description="COM_GEOCONTENT_KML_ICON_FOR_LAYERS_DESC" type="radio" default="1">
			<option value="1">Show</option>
			<option value="0">Hide</option>
		</field>

        <field name="replace_target" label="COM_GEOCONTENT_OPEN_BALLOON_LINKS_IN_THE_SAME_WINDOW" description="COM_GEOCONTENT_OPEN_BALLOON_LINKS_IN_THE_SAME_WINDOW_DESC"  type="radio" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

        <field name="show_mouse_position" label="COM_GEOCONTENT_SHOW_MOUSE_POSITION" description="COM_GEOCONTENT_SHOW_MOUSE_POSITION_DESC" type="list" default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>


        <field name="readmore" type="text" label="COM_GEOCONTENT_READ_MORE_TEXT" description="COM_GEOCONTENT_READ_MORE_TEXT_DESC" default="Read full article">
        </field>

    </fieldset>

    <fieldset
             name="inputfilters"
             addfieldpath="/administrator/components/com_content/models/fields"
             label="COM_GEOCONTENT_CONFIG_TEXT_FILTERS_LABEL"
             description="COM_GEOCONTENT_CONFIG_TEXT_FILTERS_DESC"
             >

        <field
              name="filters"
              type="filters"
              label="COM_GEOCONTENT_CONFIG_TEXT_FILTERS_LABEL"
              class="inputbox"
              filter="" />
    </fieldset>

    <fieldset
             name="permissions"
             label="JCONFIG_PERMISSIONS_LABEL"
             description="JCONFIG_PERMISSIONS_DESC"
             x_image="/images/gc_globalconfig_permissions.*true"
             >

        <field
              name="rules"
              type="rules"
              label="JCONFIG_PERMISSIONS_LABEL"
              class="inputbox"
              validate="rules"
              filter="rules"
              component="com_geocontent"
              section="component" />
    </fieldset>
    <fieldset name="advanced"
              label="COM_GEOCONTENT_CONFIG_ADVANCED_TAB"
              description="COM_GEOCONTENT_CONFIG_ADVANCED_TAB_DESC"
              x_image="/images/gc_globalconfig_advanced.*"
              >
        <!--dev needed for http://trac.osgeo.org/openlayers/ticket/2984-->
        <!--http://openlayers.org/api/OpenLayers.js-->

        <field name="suppress_unbound_warning" default="0" label="COM_GEOCONTENT_UNBOUND_WARNING" description="COM_GEOCONTENT_UNBOUND_WARNING_DESC" type="list">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="ol_url" default="" label="COM_GEOCONTENT_OPENLAYERS_URL" description="COM_GEOCONTENT_OPENLAYERS_URL_DESC" type="text"/>
        <!--http://openstreetmap.org/openlayers/OpenStreetMap.js-->
        <field name="ol_osm_url" default="" label="COM_GEOCONTENT_OPENLAYERS_OSM_URL" description="COM_GEOCONTENT_OPENLAYERS_OSM_URL_DESC" type="text"/>
        <field name="kml_type" type="list" label="COM_GEOCONTENT_CONFIG_KML_LABEL" default="kml" description="COM_GEOCONTENT_CONFIG_KML_DESC">
            <option value="kml">kml</option>
            <option value="kmz">kmz (compressed)</option>
        </field>
        <field name="kml_add_point" type="list" label="COM_GEOCONTENT_CONFIG_KML_ADD_POINT_LABEL" default="1" description="COM_GEOCONTENT_CONFIG_KML_ADD_POINT_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="kml_no_cache" type="list" label="COM_GEOCONTENT_CONFIG_KML_NO_CACHE_LABEL" default="0" description="COM_GEOCONTENT_CONFIG_KML_NO_CACHE_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field name="warn_admins" type="list" label="COM_GEOCONTENT_WARN_ADMINS_LABEL" default="1" description="COM_GEOCONTENT_WARN_ADMINS_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>


</config>