/** Gmap */
body {
  font-family: Arial, sans serif;
  font-size: 11px;
}

#hand_b {
  width:31px;
  height:31px;
  background-image: url(../images/Bsu.png);
}

#hand_b.selected {
  background-image: url(../images/Bsd.png);
}


#delete_b {
  width:31px;
  height:31px;
  background-image: url(../images/Delu.png);
}

#delete_b.selected {
  background-image: url(../images/Deld.png);
}

#placemark_b {
  width:31px;
  height:31px;
  background-image: url(../images/Bmu.png);
}
#placemark_b.selected {
  background-image: url(../images/Bmd.png);
}

#line_b {
  width:31px;
  height:31px;
  background-image: url(../images/Blu.png);
}
#line_b.selected {
  background-image: url(../images/Bld.png);
}

#shape_b {
  width:31px;
  height:31px;
  background-image: url(../images/Bpu.png);
}
#shape_b.selected {
  background-image: url(../images/Bpd.png);
}
